@model IEnumerable<Category>

<div class="container p-3 bg-white">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category list</h2>
        </div>
        <div class="col-6 text-lg-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i> Create new category
            </a>
        </div>
    </div>
    <br /> <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Category name
                    </th>
                    <th>
                        Display order
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Name</td>
                        <td width="30%">@obj.DisplayOrder</td>
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Category" asp-route-id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                    <i class="fa-regular fa-pen-to-square me-1"></i>Edit
                                </a>
                                <a asp-controller="Category" asp-route-id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="fa-regular fa-trash-can me-1"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No category exists.</p>
    }
</div>
